.bg-dark {
  background-color: #212529 !important;
}

.bg-dark:hover {
  background-color: #6c757d;
}

/* menu  */
.navbar-toggler {
  border-radius: 0 !important;
}

/* .nav-link:hover {
  font-size: large;
  transform: translateY(3px);
} */

/* .nav-link-active {
  border-bottom: 3px solid #de730fed !important;
  transition: border-bottom .5s ease-in-out;
  color: #de730fed !important;
} */

.top-navbar {
  background-color: #b88907ed;
}

.product-search {
  border-radius: 0 !important;
  margin-right: 0 !important;
}

.btn-ecommerce {
  border-radius: 0 !important;
  margin-left: 0 !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* home banner  */
.banner-image {
  height: 500px;
  object-fit: cover;
}

@media only screen and (max-width: 425px) {
  .banner-image {
    height: 250px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768) {
  .banner-image {
    height: 400px;
    object-fit: cover;
  }
}

li a {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

/* ads card  */
.ads-card {
  border-radius: 0 !important;
}

/* ads marquee  */
.marquee {
  height: 25px;
  width: 420px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 15s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}


/* feature products */
/* separtor  */

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: #dee2e6;
}

.separator .separator-title {
  padding: 0 1rem;
  text-transform: uppercase;
}

/* Product Effect */

.product-grid .card {
  border: 0;
  border-radius: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/*

  .product-grid .card:hover {
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 55%), 0 2px 6px 0 rgb(206 206 238 / 44%);
  } */

.product-grid .card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 0;
}


.add-cart a {
  color: rgb(25, 22, 22);
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.add-cart {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  z-index: 5;
}


.quick-view {
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  z-index: 5;
  background-color: #212529;
}

.product-grid .card:hover .add-cart,
.product-grid .card:hover .quick-view {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

/* slider  */
.slider-img-card {
  border-radius: 4px;
  background: #f5f5f5;
  color: #666;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.slider-img-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slider-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide *:focus {
  outline: none;
}

/* footer  */
.footer-section2 ul li a {
  color: #616569;
  font-size: 15px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* service */
.service-image {
  width: 100%;
  margin-bottom: 20px;
}

@media all and (min-width: 992px) {
  .service-image {
    float: left;
    width: 50%;
  }

}

.justify-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.btn-ecomm {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* shop  */
/* menu categories */

/*============================================================================================*/
/* LISTING */
/*============================================================================================*/
.toolbox {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
  padding: 15px 0 12px 0;
  background-color: #f8f8f8;
}
.toolbox.version_2 {
  background-color: transparent;
  margin-bottom: 30px;
}
.toolbox.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #004dda;
  animation: smoothScroll 0.5s forwards;
  -webkit-animation: smoothScroll 0.5s forwards;
  border-bottom: none;
}
.toolbox.sticky .container > ul li a {
  color: #fff;
}
.toolbox.sticky .container > ul li a:hover {
  color: #fff;
}
.toolbox.sticky .sort_select:after {
  color: #fff;
}
.toolbox.sticky .sort_select select {
  color: #fff;
}
.toolbox.sticky .sort_select select:focus {
  color: #fff;
}
.toolbox .container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toolbox .container > ul li {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  float: right;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .toolbox .container > ul li {
    margin-left: 15px;
  }
}
.toolbox .container > ul li:first-child {
  float: left;
  margin-left: 0;
}
.toolbox .container > ul li i {
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  top: 3px;
}
.toolbox .container > ul li a {
  color: #444;
  margin-left: 5px;
}
.toolbox .container > ul li a span {
  display: inline-block;
  margin-left: 5px;
}
@media (max-width: 767px) {
  .toolbox .container > ul li a span {
    display: none;
  }
}
.toolbox .container > ul li a.open_filters {
  display: none;
}
@media (max-width: 991px) {
  .toolbox .container > ul li a.open_filters {
    display: inline-block;
  }
}
.toolbox .container > ul li a:hover {
  color: #004dda;
}

.sort_select {
  width: auto;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  border: none;
  position: relative;
  padding-left: 27px;
}
.sort_select:after {
  font-family: 'themify';
  position: absolute;
  color: #444;
  left: 0;
  top: 0;
  content: "\e627";
  font-size: 16px;
  font-size: 1rem;
}
.sort_select select {
  background: transparent;
  width: 110%;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 25px;
  margin: 0;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}
.sort_select select:focus {
  color: #444;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sort_select select::-ms-expand {
  display: none;
}

.filters_listing_1 {
  padding: 15px 0 10px 0;
}
.filters_listing_1 .dropdown {
  position: relative;
  text-align: left;
}
.filters_listing_1 .dropdown a.drop {
  color: #444;
  font-weight: 500;
  transition: all 0.3s;
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 10px;
  line-height: 1;
}
@media (max-width: 991px) {
  .filters_listing_1 .dropdown a.drop {
    margin-bottom: 5px;
  }
}
.filters_listing_1 .dropdown a.drop:after {
  font-family: 'themify';
  content: "\e64b";
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
  font-weight: 600;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 10px;
  top: 10px;
}
.filters_listing_1 .dropdown.show a:after {
  transform: rotate(180deg);
}
.filters_listing_1 .dropdown .dropdown-menu {
  background: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.175);
  padding: 15px;
  white-space: normal;
  width: 100%;
  color: #444;
}
.filters_listing_1 .dropdown a.apply_filter {
  text-align: center;
  background-color: #004dda;
  color: #fff;
  display: block;
  padding: 10px 0;
  line-height: 1;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.filters_listing_1 .dropdown a.apply_filter:hover {
  background-color: #FFC107;
  color: #111;
}

.row_item {
  margin-bottom: 30px;
}
.row_item figure {
  position: relative;
  margin-bottom: 0;
  -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .row_item figure {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .row_item figure img {
    width: 100%;
    height: auto;
  }
}
.row_item .rating {
  margin-bottom: 5px;
}
.row_item a h3 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #444;
}
@media (max-width: 575px) {
  .row_item a h3 {
    font-size: 16px;
    font-size: 1rem;
  }
}
.row_item a h3:hover {
  color: #004dda;
}
.row_item p {
  margin-bottom: 20px;
}
.row_item .price_box {
  margin-bottom: 20px;
}
.row_item .new_price {
  font-size: 21px;
  font-size: 1.3125rem;
}
.row_item .old_price {
  font-size: 16px;
  font-size: 1rem;
}
.row_item ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}
.row_item ul li {
  display: inline-block;
}
.row_item ul li a span {
  display: none;
}

.filter_type {
  font-size: 14px;
  font-size: 0.875rem;
}
.filter_type h6 {
  border-top: 1px solid #dddddd;
  margin: 15px 0;
  padding: 15px 0 0 0;
}
.filter_type label {
  font-weight: 400;
}
.filter_type label small {
  float: right;
  color: #777;
  padding-top: 3px;
}
.filter_type ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0 0 15px 0;
}
.filter_type ul li {
  margin-bottom: 5px;
}
.filter_type ul li:last-child {
  margin-bottom: 0;
}
.filter_type.version_2 {
  border-bottom: 1px solid #ededed;
  margin: 0 -15px 15px -15px;
  padding: 0 15px;
}
.filter_type.version_2 ul {
  list-style: none;
  padding: 5px 5px 0 5px;
}
.filter_type.version_2 h4 a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
  padding: 8px 10px;
  margin: -5px -5px 0 -5px;
  line-height: 1;
  position: relative;
}
.filter_type.version_2 h4 a:after {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'themify';
  font-size: 14px;
  font-size: 0.875rem;
  position: absolute;
  right: 10px;
  top: 8px;
}
.filter_type.version_2 h4 a.opened {
  background-color: #f8f8f8;
}
.filter_type.version_2 h4 a.opened:after {
  content: "\e64b";
  transform: rotate(180deg);
}
.filter_type.version_2 h4 a.closed:after {
  content: "\e64b";
  transform: rotate(0);
}

.filter_col {
  border: 1px solid #ededed;
  padding: 15px;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .filter_col {
    overflow: auto;
    transform: translateX(-200%);
    top: 0;
    left: -100%;
    bottom: 0;
    width: 45%;
    height: 100%;
    position: fixed !important;
    background-color: #fff;
    z-index: 99999999 !important;
    margin: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .filter_col.show {
    transform: translateX(0);
    left: 0;
    border: 0;
  }
}
@media (max-width: 767px) {
  .filter_col {
    width: 100%;
  }
}
.filter_col .inner_bt {
  text-align: right;
  margin: -10px -15px 15px -15px;
  padding: 5px 15px 0 0;
  display: none;
}
@media (max-width: 991px) {
  .filter_col .inner_bt {
    display: block;
  }
}
.filter_col .inner_bt i {
  font-size: 18px;
  font-size: 1.125rem;
  color: #999;
}
.filter_col .inner_bt i:hover {
  color: #111;
}

/* Checkbox style */
.container_check {
  display: block;
  position: relative;
  padding-left: 30px;
  line-height: 1.7;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container_check input:checked ~ .checkmark {
  background-color: #004dda;
  border: 1px solid transparent;
}
.container_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #dddddd;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.container_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container_check input:checked ~ .checkmark:after {
  display: block;
}

/* Radio buttons */
.container_radio {
  display: block;
  position: relative;
  padding-left: 30px;
  line-height: 1.7;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_radio input {
  position: absolute;
  opacity: 0;
}
.container_radio input:checked ~ .checkmark:after {
  opacity: 1;
}
.container_radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 50%;
}
.container_radio .checkmark:after {
  display: block;
  content: "";
  position: absolute;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #004dda;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #004dda;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 12px 25px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  line-height: normal;
}
a.btn_1:focus,
.btn_1:focus {
  outline: none;
}
a.btn_1:hover,
.btn_1:hover {
  background-color: #FFC107;
  color: #111 !important;
}
a.btn_1.full-width,
.btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
a.btn_1.medium,
.btn_1.medium {
  font-size: 16px;
  font-size: 1rem;
  padding: 18px 40px;
}
a.btn_1.outline,
.btn_1.outline {
  border: 2px solid #111;
  color: #111;
  padding: 10px 30px;
  background: none;
}
a.btn_1.outline:hover,
.btn_1.outline:hover {
  border-color: #004dda;
  color: #004dda !important;
}
a.btn_1.outline:focus,
.btn_1.outline:focus {
  outline: none;
}
a.btn_1.gray,
.btn_1.gray {
  background: #f0f0f0;
  color: #111 !important;
}
a.btn_1.gray:hover,
.btn_1.gray:hover {
  background-color: #FFC107;
  color: #111 !important;
}
a.btn_1 i,
.btn_1 i {
  font-weight: 600;
}

/* product detail  */
/*============================================================================================*/
/* PRODUCT PAGE */
/*============================================================================================*/
.countdown_inner {
  background: #F33;
  color: #fff;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 767px) {
  .countdown_inner {
    margin-bottom: 15px;
  }
}
.countdown_inner.version_2 {
  padding: 10px 5px;
  position: relative;
}
.countdown_inner.version_2:before {
  border-style: solid solid solid none;
  border-width: 15px 15px 15px 0;
  bottom: -26px;
  content: "";
  left: 0;
  position: absolute;
  width: 15px;
  border-color: #F33 transparent transparent;
}
@media (max-width: 991px) {
  .countdown_inner.version_2:before {
    display: none;
  }
}
.countdown_inner.version_2 strong {
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.2;
}
.countdown_inner .countdown {
  position: static;
  font-size: 16px;
  font-size: 1rem;
  width: auto;
  margin: 0;
  display: inline-block;
}
.countdown_inner .countdown:before {
  display: none;
}

/*-------- Carousel with thumbs --------*/
.all {
  width: 100%;
  height: auto;
}
.all .slider,
.all .slider-two {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}
.all .slider .owl-nav,
.all .slider .owl-dots,
.all .slider-two .owl-nav,
.all .slider-two .owl-dots {
  display: none;
}
.all .slider:hover .left,
.all .slider:hover .right,
.all .slider-two:hover .left,
.all .slider-two:hover .right {
  visibility: visible;
  opacity: 1;
}
.all .slider:hover .left,
.all .slider-two:hover .left {
  left: 20px;
}
.all .slider:hover .right,
.all .slider-two:hover .right {
  right: 20px;
}
.all .slider .item-box,
.all .slider-two .item-box {
  overflow: hidden;
  width: 100%;
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 767px) {
  .all .slider .item-box,
  .all .slider-two .item-box {
    height: 350px;
  }
}
.all .slider .left,
.all .slider .right,
.all .slider-two .left,
.all .slider-two .right {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
}
.all .slider .left:hover,
.all .slider .right:hover,
.all .slider-two .left:hover,
.all .slider-two .right:hover {
  visibility: visible;
  opacity: 1;
}
.all .slider .left,
.all .slider-two .left {
  left: -20px;
  transition: left ease .25s;
}
.all .slider .left:hover,
.all .slider-two .left:hover {
  left: 20px;
}
.all .slider .left.nonl,
.all .slider .right.nonr,
.all .slider-two .left.nonl,
.all .slider-two .right.nonr {
  opacity: 0;
  visibility: hidden;
}
.all .slider .left.nonl,
.all .slider-two .left.nonl {
  left: -20px;
}
.all .slider .right,
.all .slider-two .right {
  right: -20px;
  transition: right ease .25s;
}
.all .slider .right:hover,
.all .slider-two .right:hover {
  right: 20px;
}
.all .slider .right.nonr,
.all .slider-two .right.nonr {
  right: -20px;
}
.all .slider-two:hover .left-t {
  visibility: visible;
  opacity: 1;
  left: 0;
}
.all .slider-two:hover .right-t {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.all .slider-two .item {
  transition: all ease .25s;
  height: 100px;
  border: solid 2px #e6ecf2;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
.all .slider-two .item.active {
  border: solid 2px #ccc;
}
.all .slider-two .owl-stage {
  padding: 20px 0;
}
.all .slider-two .left-t,
.all .slider-two .right-t {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all ease .25s;
  width: 40px;
  height: 99px;
  background: no-repeat rgba(0, 77, 218, 0.85) url(../img/arrow_right.svg) center center;
}
.all .slider-two .left-t:hover,
.all .slider-two .right-t:hover {
  visibility: visible;
  opacity: 1;
}
.all .slider-two .left-t {
  transform: rotate(180deg);
  left: -40px;
}
.all .slider-two .left-t:hover {
  left: 0;
}
.all .slider-two .left-t.nonl-t,
.all .slider-two .right-t.nonr-t {
  opacity: 0;
  visibility: hidden;
}
.all .slider-two .left-t.nonl-t {
  left: -40px;
}
.all .slider-two .right-t:hover {
  right: 0;
}
.all .slider-two .right-t.nonr-t {
  right: -40px;
}

.prod_info {
  border-bottom: 1px solid #ededed;
  padding-bottom: 25px;
}
@media (max-width: 767px) {
  .prod_info {
    border-bottom: none;
    padding-bottom: 15px;
  }
}
.prod_info h1 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 10px 0 2px 0;
}
.prod_info .rating {
  margin-bottom: 10px;
}
.prod_info p {
  margin-bottom: 20px;
}
.prod_info small {
  font-weight: 600;
}
.prod_info.version_2 {
  border-bottom: none;
}

.prod_options {
  padding: 20px 0 20px 0;
}
@media (max-width: 991px) {
  .prod_options {
    padding: 0 0 20px 0;
  }
}
.prod_options label {
  padding-top: 5px;
}
.prod_options .nice-select {
  border: 1px solid #dddddd;
  height: 40px;
  line-height: 34px;
  padding-left: 10px;
}
.prod_options .nice-select:after {
  right: 15px;
}
.prod_options strong {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 36px;
}
.prod_options .colors ul {
  margin: 0;
  padding: 0;
}
.prod_options .colors ul li {
  display: inline-block;
  margin-right: 5px;
}
.prod_options .colors ul li a.color {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
}
.prod_options .colors ul li a.color:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.prod_options .colors ul li a.color.active:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.prod_options .colors ul li a.color.active:before {
  font-family: 'themify';
  content: "\e64c";
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  position: absolute;
  font-weight: bold;
  top: 8px;
  left: 8px;
}
.prod_options .colors ul li a.color.color_1 {
  background-color: #ffcc00;
}
.prod_options .colors ul li a.color.color_2 {
  background-color: #ff9933;
}
.prod_options .colors ul li a.color.color_3 {
  background-color: #ff9966;
}
.prod_options .colors ul li a.color.color_4 {
  background-color: #ff9999;
}
.prod_options .colors ul li a.color.color_5 {
  background-color: #ffcc00;
}
.prod_options.version_2 {
  border: none;
}

.price_main {
  line-height: 1;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .price_main {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .price_main {
    margin-bottom: 10px;
    padding-top: 0;
  }
}
@media (max-width: 575px) {
  .price_main {
    margin-bottom: 0;
  }
}
.price_main .old_price {
  font-size: 18px !important;
  font-size: 1rem !important;
}
.price_main .new_price {
  font-size: 24px;
  font-size: 1.5rem;
}
.price_main .percentage {
  top: -2px;
}

@media (max-width: 767px) {
  .btn_add_to_cart {
    text-align: right;
  }
}
.btn_add_to_cart a.btn_1 {
  text-transform: uppercase;
  width: 100%;
}
@media (max-width: 767px) {
  .btn_add_to_cart a.btn_1 {
    display: inline-block;
    width: auto;
    margin-top: 30px;
  }
}

.nav-link {
  display: block;
  padding: 0 15px;
  height: 30px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}

.nav-tabs {
  border: none;
  border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom: 2px solid #004dda;
  color: #004dda;
  background-color: transparent;
}

.tabs_product {
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .tabs_product {
    margin-top: -30px;
    padding-top: 0;
  }
}
.tabs_product .nav-tabs {
  border: none;
  border-bottom: 1px solid transparent;
  display: flex;
}
@media (max-width: 767px) {
  .tabs_product .nav-tabs {
    display: none;
  }
}
.tabs_product .nav-tabs .nav-item {
  text-transform: uppercase;
  font-weight: 500;
}
.tabs_product.version_2 {
  margin-top: 0;
}
.tabs_product.version_2 .nav-tabs {
  justify-content: center;
  flex-direction: row;
}
.tabs_product.version_3 {
  margin-top: 0;
  position: relative;
}
@media (max-width: 767px) {
  .tabs_product.version_3 .nav-tabs {
    display: flex;
  }
}

.product_actions ul {
  margin: 15px 0 0 2px;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .product_actions ul {
    display: none;
  }
}
.product_actions ul li {
  float: left;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .product_actions ul li {
    margin: -5px 10px 0 0;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .product_actions ul li:first-child i, .product_actions ul li:nth-child(2) i {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.product_actions ul li a {
  color: #444;
}
.product_actions ul li a:hover {
  color: #004dda;
}
.product_actions ul li a i {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .product_actions ul li a span {
    display: none;
  }
}

.tab_content_wrapper {
  background-color: #f8f8f8;
  padding: 60px 0 35px 0;
}
@media (max-width: 991px) {
  .tab_content_wrapper {
    padding: 30px 0 10px 0;
  }
}
@media (max-width: 767px) {
  .tab_content_wrapper {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
  }
}
.tab_content_wrapper .card {
  border: none;
  background-color: transparent;
}
.tab_content_wrapper .card .card-header {
  margin: 0 -15px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #dddddd;
  background-color: #f8f8f8;
}
.tab_content_wrapper .card .card-header a {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 15px;
  color: #111;
}
.tab_content_wrapper .card .card-body {
  padding: 0;
}
.tab_content_wrapper .card .card-body h3 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .tabs_product .nav-tabs {
    display: flex;
  }

  .tab_content_wrapper .card {
    border: none;
  }

  .tab_content_wrapper .card .card-header {
    display: none;
  }

  .tab_content_wrapper .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .tab_content_wrapper .fade:not(.show) {
    opacity: 1;
  }

  .tab_content_wrapper .tab-pane {
    display: block !important;
    opacity: 1;
  }

  .tab_content_wrapper .card .card-header {
    margin-bottom: 15px;
    border: 0;
  }
  .tab_content_wrapper .card .card-header a:after {
    font-family: themify;
    width: 20px;
    display: block;
    float: right;
  }
  .tab_content_wrapper .card .card-header a.collapsed:after {
    content: "\e61a";
  }
  .tab_content_wrapper .card .card-header a:after {
    content: "\e622";
  }
}
.review_content {
  margin-bottom: 30px;
}
.review_content h4 {
  font-size: 18px;
  font-size: 1.125rem;
}
.review_content .rating {
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
  float: left;
}
.review_content .rating i {
  width: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  background-color: #fec348;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 2px;
}
.review_content .rating i.empty {
  background-color: #ccc;
}
@media (max-width: 575px) {
  .review_content .rating {
    float: none;
    display: block;
  }
}
@media (max-width: 575px) {
  .review_content .rating em {
    float: none;
    display: inline-block;
    margin-left: 10px;
  }
}
.review_content em {
  font-weight: 500;
  color: #999;
  line-height: 22px;
  margin-left: 5px;
  float: right;
}
@media (max-width: 575px) {
  .review_content em {
    float: none;
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

.table.sizes td,
.table.sizes tr th {
  white-space: nowrap;
}
